.info {
  color: var(--primary);
  margin-top: 2em;
  background-color: var(--white-bg);
  padding-bottom: 4em;
}

.info > * {
  grid-column: 2 / -2;
  text-align: center;
}

.part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  margin-top: 5em;
}
