@media (min-width: 600px) {
  .main__grid {
    grid-template-columns:
      minmax(1em, 1fr) repeat(3, minmax(20px, 320px))
      minmax(1em, 1fr);
  }

  .subtitle {
    text-align: center;
  }

  .page__title::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: #fda039;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
  }

  .main__image {
    grid-column: 3 / -3;
    box-shadow: 2px 2px 5px rgb(99, 96, 96), 4px 4px 8px rgb(99, 96, 96);
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .section__title::after {
    width: 100%;
  }

  .secondary {
    grid-column: 2;
    order: 2;
    margin-bottom: 4em;
  }

  .form {
    grid-column: 3 / span 2;
    grid-row: 4 / 5;
    margin-top: 1em;
  }

  .form__section {
    grid-template-columns: repeat (2, 1fr);
    grid-column-gap: 1em;
    grid-auto-flow: dense;
    font-weight: 700;
  }

  .forename__label,
  .forname__input {
    grid-column: 1;
    width: 20vw;
  }

  .lastname__label,
  .lastname__input {
    grid-column: 2;
  }

  .message__name,
  .message__area {
    grid-column: span 2;
  }

  .btn__form {
    grid-column: 2;
    min-width: 35%;
    font-weight: 700;
  }
}
