* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  background-color: #000;
  color: #fff;
}

span {
  color: #fda039;
}

h1,
h2 {
  font-weight: 700;
  color: #fff;
  font-size: 1.75rem;
}

h2 {
  color: #000;
}

.main-grid {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(0, 500px) minmax(1em, 1fr);
  grid-column-gap: 2em;
}
